#documentation
	.row
		.large-12.columns.icon
			%i.icon-documentation
		%h1.large-12.columns
			-# Documentation
			-# %br
			-# %small You need some information about our framework ?
	.row
		.large-6.small-12.columns.box
			%h2 Wiki
			%p
				The wiki allows you to get a complete and concrete list of examples for the core features of AppStorm.JS.
			%p
				The wiki also provides a 
				%a.url{:href => "http://www.appstormjs.com/wiki/doku.php?id=appstorm.js_v0.1:getting_started", :target => "_blank"} Getting Started tutorial.
			.row
				.large-centered.large-6.small-12.columns
					%a.access.wiki{:href => "http://www.appstormjs.com/wiki/doku.php", :target => "_blank"} go to wiki
		.large-6.small-12.columns.box
			%h2 API
			%p
				The API documentation defines all the classes and methods available in AppStorm.JS.
			%p
				It provides all needed details to develop your application with AppStorm.JS.
			.row
				.large-centered.large-6.small-12.columns
					%a.access.api{:href => "http://www.appstormjs.com/api/current", :target => "_blank"} go to api
