#examples
	.row
		.large-12.columns.icon
			%i.icon-cloud
		%h1.large-12.columns
			-# Examples
			-# %br
			-# %small See some of curents application
	.row
		.large-12.columns.introduction
			%p.lead
				Here are some demonstrations and real world applications built with AppStorm.
			%p
				"Eat your own dog food": this site is built with AppStorm.JS. Please send us even early work of websites that use AppStorm.JS, we'll be happy to showcase it!
	.row
		.large-6.columns
			%h2 Real life
			%ul.large-block-grid-2
				%li
					%a.row{:href => "#"}
						%img.large-12.columns{:src => "site/img/example/kbugs.png", :alt => "kbugs"}
						%small
							%span KBugs -
							bug tool using AppStorm.JS
		.large-6.columns
			%h2 Demo
			%ul.large-block-grid-2
				%li
					%a.row{:href => "framework/example/mail", :target => "_blank", :alt => "email"}
						%img.large-12.columns{:src => "site/img/example/mail.png", :alt => "todo"}
						%small
							%span Mail -
							AppStorm.JS email product demo
				%li
					%a.row{:href => "framework/example/todo", :target => "_blank", :alt => "email"}
						%img.large-12.columns{:src => "site/img/example/todo.png", :alt => "todo"}
						%small
							%span Todolist -
							AppStorm.JS todo demo