#home
	.row.introduction.welcome
		.large-12.columns
			%h1
				Welcome to AppStorm.JS
			%p
				AppStorm.JS is a powerful client-side Javascript framework to build fast, easy to read, and full featured web application.
	.row.iconlist
		.large-12.columns
			%ul#home-menu
				%li
					%a#home-light
						%img{:src => "site/img/home/light_hover.png"}
						Light
				%li
					%a#home-fast
						%img{:src => "site/img/home/fast.png"}
						Fast
				%li
					%a#home-cross-browsers
						%img{:src => "site/img/home/cross-browsers.png"}
						Cross-browsers
				%li
					%a#home-international
						%img{:src => "site/img/home/internationalization.png"}
						International
				%li
					%a#home-easy
						%img{:src => "site/img/home/easy-reading.png"}
						Easy
	.row.mtop
		.large-12.columns.introduction
			#home-content
				#home-light-content
					%h1
						Light
					%p
						With a size of only 20kb, gzipped and minified, AppStorm.JS fits the "type less, do more" idiom.
				#home-fast-content.start-hide
					%h1
						Fast
					%p
						AppStorm.JS is blazing fast. It's a must have not only for developers, but also for end-users.
				#home-cross-browsers-content.start-hide
					%h1
						Cross-browsers
					%p
						From IE6 to latest Chrome through Opera, AppStorm.JS is compatible with all major browsers.
				#home-international-content.start-hide
					%h1
						International
					%p
						Everything in AppStorm.JS is design to make translate system easy to use.
				#home-easy-content.start-hide
					%h1
						Easy
					%p
						Everything in AppStorm.JS is designed to ease translation of your application.
	.row.introduction
		.large-6.large-offset-3.small-12.columns.text.center
			%h1
				Let's try...
			%p
				For a quick start, we recommand you to grab a copy of AppStorm.JS, and start the tutorial.
			%a.btn.inverse{:href => "#download"}
				%i.icon-download
				Get the lastest version
			%a.btn.inverse{:href => "http://www.appstormjs.com/wiki/doku.php?id=appstorm.js_v0.1:getting_started", :target => "_blank"}
				%i.icon-github
				Follow tutorial
