#tour
	.row
		.large-12.columns.icon
			%i{:class => 'icon-tour'}
		%h1.large-12.columns
			-# Tour
			-# %br
			-# %small Get a preview of AppStormJS
	.row
		.large-6.columns.box
			%h2 What is AppStorm.JS ?
			%ul
				%li A good start for structured app
				%li RIA Application ready
				%li WebServices ready (handle pretty good WebServices content)
				%li Blazing fast
				%li No server side
				%li Company ready: easy task separation, ...
		.large-6.columns.box
			%h2 What is not AppStorm.JS
			%ul
				%li A CSS framework
				%li A data centered framework
				%li An event based framework
				%li A toolkit to do everything you ever want, in 5 seconds
				%li A coffee machine
